version=0.25.1
profile=conventional
break-separators=before
dock-collection-brackets=false
cases-exp-indent=2
break-cases=fit-or-vertical
break-fun-decl=fit-or-vertical
break-infix=fit-or-vertical
parse-docstrings=true
exp-grouping=preserve
